

//  @mixin background {
//     
// }

 
// FlexBox Mixins
@mixin flexColumn {
    display:flex;
    flex-direction:column;
}
@mixin flexCenterColumn {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
@mixin flexCenterColumnWrap {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


// Nav bar style
@mixin navStyle {
    background-color: #116466;
    border-style: ridge;
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
}