html, body  {
    margin:0;
    padding:0;
    height:100vh;
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    @include background;
}

.title-heading {
    @include flexColumn;
    justify-content: center;
    align-items:center;
    margin-bottom: 20px;
        .name-title {
            color:$lightGreen;
            font-weight: bold;
            font-size: 8vw;
            margin: 15px 0 0 0;
        }
        .dev-title {
            color:$lightGreen;
            font-weight: bold;
            font-size: 3vw;
            margin: 0 0 10px 0; 
        }
}
// check
.home-nav-bar {
    font-size: 25px;
        nav {
            height: 65vh;
            @include flexColumn;
            justify-content: space-evenly;
            align-items: center;
        }
}
//navbar Link styling including hover function
.nav-index a:link{
    @include navStyle;
    width: 140px;
    padding: 1% 2% 1% 2%;
}
.nav-index a:visited {
    text-decoration: none;
    color: $lightGreen;
}
.nav-index a:hover {
    color: $yellow;
    border-color: $yellow;
    transition: 0.2s;
    transform: scale(1.5);
}    

footer {
        display: flex;  
        justify-content: space-evenly;
        align-items: center; 
    .social-icons {
        margin: 0 0 0 5%;
        }
    .social-icons img {
        background: #d1e8e2;
        border-style: solid;
        border-color: $lightGreen;
        border-radius: 5px;
        height: 4vh;
        }
     .copyright  {
        display: flex;
        justify-content: flex-end;
        color:#d1e8e2;
        font-size: 2vh;
        margin: 0;
    }
    .resume {
        font-size: 3vh;
        font-weight: bold;
    }
}


.resume a:link, a:hover, a:active  {
    color: $yellow !important;
    text-decoration: none;
}
.resume a:visited {
    color: $yellow !important;
}

@media screen and (max-width: 420px) { 
    body {
        margin: 0;
        padding: 0;
    }
    .title-heading{
        margin-bottom: 0;
        .name-title {
        font-size: 10vw;
        }
    }
    h2 {
        display:flex;
        flex-direction: column;
    }
}


